# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
*.pidb
*.suo
*.user
*.userprefs
*.csproj
*.unityproj
*.dll
*.exe
*.pdf
*.mid
*.midi
*.wav
*.gif
*.ico
*.jpg
*.jpeg
*.png
*.psd
*.tga
*.tif
*.tiff
*.3ds
*.3dm
*.fbx
*.lxo
*.ma
*.mb
*.mesh
*.mp3
*.mp4
*.obj
*.asset
*.mesh
*.mat
*.meta
*.prefab
*.unity
*.txt
